    <!-- BOOST INCOME -->
	<section id="boost-income">
    	<div class="container">
        	<div class="section-header">
            	<img class="solobadge" src="/assets/icon-boost.png" alt="Chart" />
                <h2>How You Can Boost Your Income</h2>
            </div><!-- section-header -->
            
            <p class="lead">Whether you just started saving or are a seasoned investor, we can tailor a program that will help you grow your net worth.  Learn techniques that experts use to make the most of your hard-earned money.</p>

			<div class="row">
            	<div class="col-sm-6">            
					<h3>Debt Management</h3>
					<p>This isn't your basic "pay off high credit cards" type of program.  In fact, some debt is good to have!  Learn what type of debt you should keep, and what type of debt is poison.  Also learn why in certain situations, going further into debt can be to your benefit!</p>
				</div><!--col-->
                <div class="col-sm-6">
					<h3>Advanced Investments</h3>
					<p>Learn advanced investment strategies that go beyond money markets, bonds, and mutual funds.  Find out how to make your money really work hard for you, instead of just limping around with minimal interest gains.</p>
				</div><!--col-->
			</div><!--row-->            
        </div><!--container -->
	</section>