	<section id="optin">
    	<div class="container">
			<div class="row">
            	<div class="col-sm-8">
                	<p><strong>Subscribe to our mailing list.</strong> We'll send you something special as a thank you.</p>
                </div>
                <div class="col-sm-4">
                	<button class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#myModal">
                    Click here to subscribe
                    </button>
                </div>
            </div><!-- row -->
        </div>
	</section>
