    <!-- TESTIMONIALS -->
	<section id="kudos">
    	<div class="container">
        	<div class="row">
            	<div class="col-sm-8 col-sm-offset-2">
                	<h2>What People Are Saying About Scratch Savvy</h2>
                    
                    <div class="row testimonial">
                    	<div class="col-sm-4">
                        	<img src="/assets/aj.png" alt="AJ" />
                        </div><!--col-sm-4-->
                    	<div class="col-sm-8">
                        	<blockquote>
                        	If you're serious about making money, I highly recommend this product.  I am a 67 year old retired veteran with very little computer knowledge, but they made this so easy even I had no problem learning it.
                            <cite>&mdash; AJ, Indiana
                            </blockquote>
                        </div><!--col-sm-8-->
                    </div><!--testimonial-->

                    <div class="row testimonial">
                    	<div class="col-sm-4">
                        	<img src="/assets/michelle.png" alt="Michelle" />
                        </div><!--col-sm-4-->
                    	<div class="col-sm-8">
                        	<blockquote>
                        	This tool should go without saying. But if I have to explain...you need this tool. I use it 24/7 literally. It allows me to store all my financial information, and it's accessible anywhere
                            <cite>&mdash; Michelle, Pennsylvania
                            </blockquote>
                        </div><!--col-sm-8-->
                    </div><!--testimonial-->

                    <div class="row testimonial">
                    	<div class="col-sm-4">
                        	<img src="/assets/ben.png" alt="Ben" />
                        </div><!--col-sm-4-->
                    	<div class="col-sm-8">
                        	<blockquote>
                        	I used Scratch and after only a few weeks, I was making 10x the amount of money I made before.  Thanks Scratch Savvy!
                            <cite>&mdash; Ben, Florida
                            </blockquote>
                        </div><!--col-sm-8-->
                    </div><!--testimonial-->

                    <div class="row testimonial">
                    	<div class="col-sm-4">
                        	<img src="/assets/ernest.png" alt="Ernest" />
                        </div><!--col-sm-4-->
                    	<div class="col-sm-8">
                        	<blockquote>
                        	The price seemed high at first, but it's worth it!  I have a much better understanding of my income flow, my assets, and my overall financial future.  Great job guys, keep the content coming.
                            <cite>&mdash; Ernest, New York
                            </blockquote>
                        </div><!--col-sm-8-->
                    </div><!--testimonial-->

                </div><!--col-->
            </div><!--row-->
        </div><!--container-->
	</section>
