
	<!-- =================================================================
         Registration Section
         ================================================================= -->

	            <div id="loginform" class="col-sm-5">
	                  <h2>Login Form</h2>
	                  <p style="padding-bottom:10px;">Don't have an account yet?  Use the registration form instead!</p>
                    <form name="registerapp" class="form-horizontal" role="form" ACTION="./cgi-bin/jiggle.pl" METHOD="POST">
						            <input type=hidden name="redirect" value="http://www.wiredroot.com/success.php">
                        <input type=hidden name="recipient" value="sales@wiredroot.com, wiredroot@gmail.com">
                        <input type=hidden name="subject" value="URGENT : Contact Request">
                        <input type=hidden name="required" value="firstname,lastname,email,password,password_confirm"> 



                        <div class="form-group">
                            <label class="control-label col-sm-3" for="email">Email:</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control required" name="email" id="email" placeholder="Your registered e-mail">
									              <div id="errorContact2" style="display: none; color: red;">Invalid: must specify a valid e-mail</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" for="password">Password:</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control required" name="password" id="password" placeholder="Type your password">
									              <div id="errorContact4" style="display: none; color: red;">Invalid: must specify a valid password</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="button" class="btn btn-custom4" onClick="logincheck()">Login</button>
                            </div>
                        </div>
                    </form>
            </div><!-- end column -->
