    <!-- PRODUCT FEATURES -->
	<section id="product-features">
		<div class="container">
        	<div class="section-header">
            	<p></p>
            	<h2>Financial Freedom</h2>
                <p class="lead">Check out the numerous avenues of interactive financial learning you will have access to!  Don't continue letting your hard-earned money be a liability rather than an asset.   <%= link_to "Sign up today!", "enroll.html", class: "btn btn-small btn-success" %></p>
            </div><!--section-header-->
            
            <div class="row">

            	<div class="col-sm-4">
            	    <img src="assets/icon-pad.png" width="140" height="140" alt="Pad" />
                    <h4>Written Guides</h4>
                    <p>Volumes of guides and tutorials to help step you through basic and advanced financial strategies.</p>
                </div><!--col-->

            	<div class="col-sm-4">
                	<img src="assets/icon-code.png" alt="Code" />
                    <h4>High-Quality Video</h4>
                    <p>Hours of high-quality video to train you in various technological financial tools and solutions.</p>
                </div><!--col-->

            	<div class="col-sm-4">
                	<img src="assets/icon-cms.png" alt="CMS" />
                    <h4>Access to Community</h4>
                    <p>You will have access to a wide community, including financial experts.</p>
                </div><!--col-->

            </div><!--row-->
        </div><!-- container -->

	</section>
