    <!-- PROGRAM FEATURES -->
	<section id="course-features">
		<div class="container">
        	<div class="section-header">
            	<img class="solobadge" src="assets/icon-paper2.png" width="140" height="140" alt="Rocket" />
            	<p></p>
                <h2>Site Features</h2>
            </div>
            <div class="row">

            	<div class="col-sm-2">
                	<i class="ci ci-computer"></i>
                    <h4>Lifetime access to site software</h4>
                </div><!-- col -->

            	<div class="col-sm-2">
                	<i class="ci ci-watch"></i>
                    <h4>10+ hours of HD video content</h4>
                </div><!-- col -->

            	<div class="col-sm-2">
                	<i class="ci ci-calendar"></i>
                    <h4>30-Day money back guarantee</h4>
                </div><!-- col -->

            	<div class="col-sm-2">
                	<i class="ci ci-community"></i>
                    <h4>Access to community &amp; financial experts</h4>
                </div><!-- col -->

            	<div class="col-sm-2">
                	<i class="ci ci-instructor"></i>
                    <h4>Direct access to the site owner</h4>
                </div><!-- col -->

            	<div class="col-sm-2">
                	<i class="ci ci-device"></i>
                    <h4>Access content on your mobile device</h4>
                </div><!-- col -->


            </div><!-- row -->
        </div><!-- container -->
	</section>