	<section id="login_main">
		<div class="container">
       <%= render 'form_login' %>
         <div class="col-sm-1">
         <img class="img-responsive" src="assets/vline.png" height="300%"/>
       </div>
       <%= render 'form_register' %>
    </div>
  </section>