/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
@import "bootstrap-sprockets";
@import "bootstrap";

/* MAIN =========================================*/
body {
	margin-top: 50px;
	font-family: 'acumin-pro', 'Raleway', Helvetica, sans-serif;
	font-size: 16px;
	background: url('../img/tile.jpg') top left repeat;
}

h1, h2, h3, h4, h5, h6 {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-weight: bold;	
}

h1 {
	font-size: 3em;	
}

h1, h2 {
	margin: 0 0 40px;
}

h3 {
	margin: 20px 0;	
}

h4 {
	font-size: 18px;	
}

p {
	margin: 0 0 15px;
}

p.lead {
	font-weight: normal;
}

a:link, a:visited {
	color: #DD5638;	
}

a:hover {
	text-decoration: none;
	color: #C9302C;
}

button, input, .btn, a.btn {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	color: white;	
}

.btn {
	font-weight: bold;	
}

button.btn:focus {
	outline: none !important; /* Gets rid of outline when you click on button.  The !important overrides competing styles */	
}

.btn-danger {
	background-color: #DD5638;
	border-collapse: #D95131;	
}

.btn-success {
	background: #79B044;
	border: none;
}

.btn-success:hover {
	background: #6A9B3D;
	border-color: #6A9B3D;	
}

img {
	max-width: 100%; /* Make our logo same size as its container, so no over-flow */
}


/* FOOTER ====================================== */
footer {
	background: #3E4249;
	color: white;
	padding: 20px 0 10px;
	font-size: 12px;
}

footer p {
	margin: 0;
}

footer a:link, footer a:visited {
	color: white;
}

footer a:hover {
	color: #DD5638;	
}

footer li:signup-link a {
	color: #DD5638;	
}

footer li:signup-link a:hover {
	font-weight: bold;
}
