	<!-- FOOTER
	================================================== -->
	<footer>
    	<div class="container">
        	<div class="row">
            	<div class="col-sm-3">
                	<p><a href="/"><img src="assets/img/logo.png" alt="Scratch Savvy"</a></p>
               	</div><!--col-sm-3-->
                <div class="col-sm-6">
                	<nav>
                    	<ul class="list unstyled list-inline">
            							<li></li><a href="/">Home</a></li>
            							<li><a href="features.html">Features</a></li>
            							<li><a href="login.html">Profile</a></li>
                      </ul>
                    </nav>
                </div><!--col-sm-6-->
                <div class="col-sm-3">
                	<p class="pull-right">Designed by Wired Root</p>
                </div><!--col-sm-3-->
            </div><!-- row-->
        </div><!-- container-->
	</footer>